body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1{
    color:rgb(74, 10, 69);
    margin-bottom: 10px;
}

h2{
    color:blueviolet;
    margin-top: 15px;
}

.highlight {
    color:aquamarine;
    font-weight: bold;
}

#special {
background-color: gray;
padding: 10px;
border: 2px solid black;
}
